

.badge-heading {
  display: flex;
  justify-content: space-between;
  margin-left: 30em;
  margin-right: 30em;
}

.badge {
  background-color: #b91c1c;
  color: white;
  transform: translate(50%, -50%);
  padding: 0.6em 1em;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  
}
